name: Build and Deploy

on:
    push:
        branches:
            - main

jobs:
    build:
        runs-on: ubuntu-latest
        container:
            image: ubuntu:24.04

        steps:
            -   name: Install dependencies
                run: |
                    apt-add-repository ppa:mutlaqja/ppa
                    apt-get update
                    apt-get install -y gcc git bash make cmake libindi1

            -   name: Checkout repository
                uses: actions/checkout@v4

            -   name: Build and test project
                shell: bash
                run: |
                    mkdir -p build
                    cd build

                    cmake  ..
                    make all
