name: Build and Deploy

on:
    push:
        branches:
            - main

jobs:
    build:
        runs-on: ubuntu-latest
        container:
            image: ubuntu:24.04

        steps:
            -   name: Install dependencies
                run: |
                    apt-get update
                    apt-get install -y gcc g++ git bash make cmake gnupg pkg-config libxml2-dev software-properties-common
                    apt-add-repository -y ppa:mutlaqja/ppa
                    apt-get install -y libindi-dev

            -   name: Checkout repository
                uses: actions/checkout@v4

            -   name: Build and test project
                shell: bash
                run: |
                    mkdir -p build
                    cd build
                    cmake  ..
                    make

            -   name: Deploy project
                shell: bash
                env:
                    SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
                    DEPLOY_USER: ${{ secrets.DEPLOY_USER }}
                    DEPLOY_HOST: ${{ secrets.DEPLOY_HOST }}
                run: |
                    export HOME=/root
                    
                    mkdir -p ~/.ssh/
                    chmod 700 ~/.ssh/
                    
                    echo "${SSH_PRIVATE_KEY}" > ~/.ssh/id_rsa
                    chmod 600 ~/.ssh/id_rsa
                    
                    eval $(ssh-agent -s)
                    ssh-add ~/.ssh/id_rsa
                    
                    ssh-keyscan -H "${DEPLOY_HOST}" >> ~/.ssh/known_hosts
                    chmod 644 ~/.ssh/known_hosts
                    
                    scp ./build/indi_nyx "${DEPLOY_USER}@${DEPLOY_HOST}:/var/www/nyxlib.org/download/linux/x86_64/"
